@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: fit-content;
  animation: marquee 30s linear infinite;
}

/* Smooth Scrolling for the whole page */
html {
  scroll-behavior: smooth;
}